<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <h1 class="header left black-text">Contacts</h1>
    <a class="btn-floating btn-large waves-effect waves-light red" style="float: right; margin-top: 50px;" href="/add"><i class="material-icons">add</i></a>
  </div>
</div>

<div class="container">
  <div class="section">
      <table class="striped">
        <thead>
          <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Address</th>
          </tr>
        </thead>

        <tbody>
          <% @contacts.each do |contact| %>
            <tr>
              <td><%= contact[:name] %></td>
              <td><%= contact[:email] %></td>
              <td><%= contact[:phone] %></td>
              <td><%= contact[:address] %></td>
              <td><a href="/<%= contact[:name] %>/edit">Edit</a></td>
              <td>
                <form method="post" action="/<%= contact[:name] %>/delete">
                  <button type="submit">Delete</button>
                </form>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
